<div id="content">
	<div id="userPrefs" class="userScreen">
	
		<div class="pageHeader">
			<div class="row">
				<div class="medium-12 columns" style="text-align:right">
					<h3>Modify Your Search Preferences</h3>
				</div>				
			</div>
		</div>	
	
		<!-- ********************************Preferences******************************** -->
		<div id="userMyPreferences" class="row">
			<div class="large-12 columns" style="padding-top:10px;">
				<div class="row">
					<div class="small-8 columns">
						<h5>My Preferences:</h5>
					</div>
					
					<div class="small-4 columns" style="margin-top:1em;padding: 0px;">							
 						<button id="savePreferencesBtn" title="Save" type="button" style="display:none;" class="secondary tiny">
							<i class="fa fa-save"></i> <b>Save</b>
						</button>	
					</div>					    							
				</div>
				
				<div class="row">
					<div class="small-6 columns">												
						<h6>Prefered Resource Type(s):</h6>
						<br/>
						<select multiple="multiple">
							<option>A</option>
							<option>B</option>
						</select>
					</div>
					<div class="small-6 columns">												
						<h6>Prefered Language(s):</h6>
						<br/>						
						<select multiple="multiple">
							<option>A</option>
							<option>B</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="small-6 columns">												
						<h6>Prefered Grade Level(s):</h6>
						<br/>						
						<select multiple="multiple">
							<option>A</option>
							<option>B</option>
						</select>		
					</div>
					<div class="small-6 columns">												
						<h6>Prefered Technical Reading Level(s):</h6>
						<br/>	
						<select multiple="multiple">
							<option>A</option>
							<option>B</option>
						</select>							
					</div>
				</div>	
				<div class="row">
					<div class="small-6 columns">												
						<h6>Learning Objectives:</h6>
						<br/>	
						<input type="text"/>
						<ul style>
							<li><em>No Learning Objectives Set</em></li>
						</ul>							
					</div>
					<div class="small-6 columns">												
						<h6>Competencies:</h6>
						<br/>
						<div style="margin:auto;width:200px;">
							<button style="padding:12px" title="Add Competency Account" class="small" data-reveal-id="modalAddCompetencyAccount" data-reveal>
								<i class="fa fa-plus"></i> Add Competency Account
							</button>								
						</div>	
					</div>
				</div>					
			</div>			
		</div>
		
	</div>
</div>	